@tailwind base;
@tailwind components;
@tailwind utilities;


/* main background color */
.main-bg {
    background: linear-gradient(to bottom right, #425879, #3c3992, #4b5563) ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    -webkit-user-select: none; 
    -webkit-touch-callout: none;
}

.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
